*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;
}

.bg-img{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(27deg,#004E95 50%, #013A6B 50%);
}

.center-div{
	border-radius: 15px;
	width: 350px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-image: linear-gradient(27deg,#013A6B 50%, #004E95 50%);
	box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.63)

}

.center-div img{
	height: 120px;
	width: 140px;
	border-radius: 50%;
	position: relative;
	top: -60px;
	left: calc(( 350px - 140px )/2);
}

h2{
	font-size: 2em;
	text-align: center;
	margin-top: -50px;
	margin-bottom: 10px;
	color: #19d3da;
}

.inputbox{
	width: calc( 100% - 50px);
	height: 30px;
	display: block;
	margin: auto;
}

::placeholder{
	letter-spacing: 3px;
	padding-left: 3px; 
}

button{
	width: calc( 80% - 50px);
	height: 30px;
	display: block;
	margin: auto;
	margin-top: 10px;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	background-color: #19d3da;
}

button:hover{
	font-size: 0.9rem;
}

.forget{
	width: calc( 100% - 50px);
	height: 30px;
	display: block;
	margin: auto;
	margin-top: 30px;
}

.forget a{
	color: #19d3da;
	text-decoration: none;;
}